extends layout

block content
  h2 Velkynvelve
  p The characters wake up, locked in a dark cave, lit only by glowing lichen.
    They are surrounded by a group of misfits of different races, some they did not know existed:
    ul
      li Buppido, calm and enthusiastic derro
      li Prince Derendil, Body of a Quaggoth, mind of an elf. Was an elf, cursed by an evil wizard.
      li Eldeth, warrior lady dwarf, loyal and brave
      li Jimjar,
      li Ront, Orc bully, scared of the drow
      li Sarith, Drow, accused of murder, not quite stable &mdash; but he's a drow, who knows what they're like usually
      li Shuushar the awakened, Pacifist Kuo-Toa
      li Stool, Curious and friendly Myconid
      li Topsy and Turvy, deep gnome twins
