extends layout

block content
  h2 Velkynvelve
  p The characters wake up, locked in a dark cave, lit only by glowing lichen. They are surrounded by a group of misfits of different races, some they did not know existed:
    ul
      li Buppido, calm and enthusiastic derro
      li Prince Derendil, Body of a Quaggoth, mind of an elf. Was an elf, cursed by an evil wizard.
      li Eldeth, warrior lady dwarf, loyal and brave
      li Jimjar, witty deep gnome
      li Ront, Orc bully, scared of the drow
      li Sarith, Drow, accused of murder, not quite stable &mdash; but he's a drow, who knows what they're like usually
      li Shuushar the awakened, Pacifist Kuo-Toa
      li Stool, Curious and friendly Myconid
      li Topsy and Turvy, deep gnome twins
  p After some time, getting to know their fellow inmates and understanding their fate, the characters start looking for a way to get out.
    | Attempts to rile up the fellow inmates into an uprising have mitigated results. Buppido, Derendil, Eldeth and Sarith seem willing to take the risk.
    | On the other hand, Ront is terrified of repercussions, and Jimjar seems to think the odds are impossible: the inmates are too unreliable to plan anything solid.
    | Shuushar and Stool seem on the fence, willing to leave, but uncommitted to facing the drow.
    | Topsy and Turvy have not voiced their opinion on the question.
  p Every day, the characters are forced to perform chores, and twice a day, they are fed with boiled mushrooms or spoiled meat.
    | On the 9th day, 3 days before being transferred out, they receive the visit of a drow male, with a limp and a scared face: Jorlan. He seems young and proud.
    | As he delivers the food, he approaches the gate and whispers to one of the characters. He has an offer: he will leave the gate unlocked, they will take their chance, and try to cause as much damage as possible, especially to Shoor.
    | Before being able to ask him for much more detail, he leaves.
    | Jimjar explains:
    ul
      li Shoor is Ilvara's lover
      li Ilvara is an elite priestess of Lolth and the outpost's commander
      li Jorlan is her scorned ex-lover
  p The next day, as promised, the gate is left unlocked. And to the character's surprise, a window of opportunity presents itself as the guard rotation leaves the slave pen unguarded for a few minutes.
    | The prisoners make their way for the guard tower. The deep gnomes (Jimjar, Topsy and Turvy) decide to go north for the exit, abandoning their equipment, and aim for Bligdenstone.
    | The rest of the prisoners let them go and keep searching for their equipment.
  p The party heads for the closest guardhouse, trying to avoid being spotted by guards.
    | (Something happens?)
  p The party then heads for the temple. In the shrine, they face (spiders? drow? quaggoth?).
  p (Someone?) chips out some precious gems from the Lolth statue.
  